<%= form_for(@phonetype) do |f| %>
  <% if @phonetype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phonetype.errors.count, "error") %> prohibited this phonetype from being saved:</h2>

      <ul>
      <% @phonetype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
